.container-fluid {
  max-width: 600px;
}

.right-border {
  border-right: 1px solid black;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.no-margin {
  margin: 0px;
}

.tmar10 {
  margin-top: 10px;
}

.rmar4 {
  margin-right: 4px;
}

.rmar8 {
  margin-right: 8px;
}

a {
  color: #333;
}

.hovery:hover {
  color: #23527c;
  background-color: #F5FFFA;
  text-decoration: underline;
}
